# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
# 4,622 observations

chipo.shape[0]

4622

In [6]:
# Solution 2
# 4,622 observations

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
# 5 columns
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
# Chicken Bowl
mostOrdered = chipo.groupby('item_name')
mostOrdered = mostOrdered.sum()
mostOrdered = mostOrdered.sort_values(['quantity'], ascending = False)
mostOrdered.head(1)

/var/folders/cc/dwvpk1rs4bs_6tl31t_yzvjw0000gn/T/ipykernel_56303/858665692.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mostOrdered = mostOrdered.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
# 761
mostOrdered = chipo.groupby('item_name')
mostOrdered = mostOrdered.sum()
mostOrdered = mostOrdered.sort_values(['quantity'], ascending = False)
mostOrdered.head(1)

/var/folders/cc/dwvpk1rs4bs_6tl31t_yzvjw0000gn/T/ipykernel_56303/2359340901.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mostOrdered = mostOrdered.sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
# Diet Coke
mostOrdered = chipo.groupby('choice_description')
mostOrdered = mostOrdered.sum()
mostOrdered = mostOrdered.sort_values(['quantity'], ascending = False)
mostOrdered.head(1)

/var/folders/cc/dwvpk1rs4bs_6tl31t_yzvjw0000gn/T/ipykernel_56303/309757128.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mostOrdered = mostOrdered.sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were ordered in total?

In [13]:
# 4972
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
# object / string
# chipo.dtypes
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
# Our Solution
#   The apply method is used to apply the lambda function to each element in the item_price column. 
#   The lambda function takes in a value x, removes the first character (the $ sign) using string slicing (x[1:]), 
#   and then returns the float representation of the remaining string. 
#   This will convert all the values in the item_price column to floats.
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

# Intended Solution
#   Basically, it does the same thing, but also removes the last character (ie. the space).
#   Also, it defines a named lambda function 'dollarizer', instead of using an anonymous lambda function.
# dollarizer = lambda x: float(x[1:-1])
# chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [16]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f'${revenue}')
# print("$",revenue)

$39237.02

### Step 15. How many orders were made in the period?

In [18]:
# 1834 orders
# chipo['order_id'].tail(10)
# chipo['order_id'].max
orders = chipo.order_id.value_counts().count()
print(f'{orders} orders')

1834 orders

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
average_rev = revenue / orders
average_rev = round(average_rev, 2)
print(f'${average_rev}')

$21.39

In [20]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
new_avg_rev = order_grouped.mean()['revenue']
new_avg_rev = round(new_avg_rev, 2)
print(f'${new_avg_rev}')

$21.39

/var/folders/cc/dwvpk1rs4bs_6tl31t_yzvjw0000gn/T/ipykernel_56303/1708070853.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  order_grouped = chipo.groupby(by=['order_id']).sum()

In [21]:
# Solution 3
newer_avg_rev = chipo.groupby(by=['order_id']).sum().mean()['revenue']
newer_avg_rev = round(newer_avg_rev, 2)
print(f'${newer_avg_rev}')

$21.39

/var/folders/cc/dwvpk1rs4bs_6tl31t_yzvjw0000gn/T/ipykernel_56303/1372223753.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  newer_avg_rev = chipo.groupby(by=['order_id']).sum().mean()['revenue']

### Step 17. How many different items are sold?

In [22]:
unique_items = chipo.item_name.value_counts().count()
print(f'{unique_items} different items')

50 different items