# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [157]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [158]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [159]:
# Convert item_price to float & replace
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.head(20)

# delete the duplicates in item_name and quantity
chipo_no_dupes = chipo.drop_duplicates(['item_name','quantity','choice_description'])

# __________________
# select only the products with quantity equals to 1
chipo_qty_one = chipo_no_dupes[chipo_no_dupes['quantity'] == 1]
chipo_qty_one

prods_over_10 = chipo_qty_one[chipo_qty_one['item_price']>10].item_name.nunique()
print(prods_over_10)

chipo_qty_one[chipo_qty_one['item_price']>10]

# chipo.query('item_price' > 10).item_name.nunique()

25

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [160]:
# chipo_qty_one
# df = pd.DataFrame(chipo_qty_one['item_name'],['item_price'])
# print(df)

# chipo_2_col = chipo_qty_one.drop(columns = ['order_id', 'quantity', 'choice_description'])
# print(chipo_2_col)

chipo_2_col = chipo_qty_one.drop(['order_id', 'quantity', 'choice_description'], axis = 1)
print(chipo_2_col)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
4602                       Barbacoa Burrito        9.25
4607                          Steak Burrito       11.75
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25

[1806 rows x 2 columns]

### Step 6. Sort by the name of the item

In [161]:
chipo_2_col.sort_values(by = ['item_name'])

              item_name  item_price
721   6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
357   6 Pack Soft Drink        6.49
298   6 Pack Soft Drink        6.49
3141  6 Pack Soft Drink        6.49
...                 ...         ...
1395  Veggie Soft Tacos        8.49
2384  Veggie Soft Tacos        8.75
1699  Veggie Soft Tacos       11.25
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75

[1806 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [162]:
most_exp_item = chipo_qty_one['item_price'].max()
qty_most_exp_item = chipo_qty_one[chipo_qty_one['item_price'] == most_exp_item].item_name.nunique()
print(qty_most_exp_item)

3

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [163]:
qty_of_veg = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
# print(qty_of_veg)

qty_of_veg['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [170]:
multi_soda_ord = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
# multi_soda_ord = soda_ord.drop[(soda_ord['quantity'] < 2)]

print(f'{len(multi_soda_ord)} times')

print(multi_soda_ord)

20 times
      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18