# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [15]:
data = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [16]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [17]:
pokemon = pokemon.reindex(columns=['name', 'type', 'hp', 'evolution', 'pokedex'])
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [18]:
pokemon['place'] = ['Pallet Town', 'Cerulean City', 'Lavendar Town', 'Saffron City']
pokemon

         name   type  hp   evolution pokedex          place
0   Bulbasaur  grass  45     Ivysaur     yes    Pallet Town
1  Charmander   fire  39  Charmeleon      no  Cerulean City
2    Squirtle  water  44   Wartortle     yes  Lavendar Town
3    Caterpie    bug  45     Metapod      no   Saffron City

### Step 6. Present the type of each column

In [19]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

Which Pokemon has the highest HP, and the lowest HP?

In [26]:
# Could do it this way, but two different Pokemon share the same highest HP, so the answer is incomplete
    # highest_hp_index = pokemon['hp'].idxmax()
    # lowest_hp_index = pokemon['hp'].idxmin()

    # highest_hp_pokemon = pokemon.loc[highest_hp_index]
    # lowest_hp_pokemon = pokemon.loc[lowest_hp_index]

    # print(f"The Pokémon with the highest HP is {highest_hp_pokemon['name']} with {highest_hp_pokemon['hp']} HP.")
    # print(f"The Pokémon with the lowest HP is {lowest_hp_pokemon['name']} with {lowest_hp_pokemon['hp']} HP.")

# To include both of the highest HP Pokemon, do it the following way instead

# Calculate the maximum value in the hp column of the DataFrame and assign it to the variable max_hp
max_hp = pokemon['hp'].max()

# Create a new DataFrame max_hp_pokemon that contains all rows from the original DataFrame where the hp value is equal to the maximum value
max_hp_pokemon = pokemon[pokemon['hp'] == max_hp]

# Use the idxmin method to find the index of the first occurrence of the minimum value in the hp column, and assign it to the variable lowest_hp_index
lowest_hp_index = pokemon['hp'].idxmin()

# Use the loc method to select the row from the DataFrame with the index specified by lowest_hp_index, and assign it to the variable lowest_hp_pokemon
lowest_hp_pokemon = pokemon.loc[lowest_hp_index]

print(f"The Pokémon with the highest HP are:")
# Use a for loop to iterate over each row in the max_hp_pokemon DataFrame. 
# For each row, print the name and HP value of the Pokémon
for index, row in max_hp_pokemon.iterrows():
    print(f"{row['name']} with {row['hp']} HP")

print(f"\nThe Pokémon with the lowest HP is {lowest_hp_pokemon['name']} with {lowest_hp_pokemon['hp']} HP.")

The Pokémon with the highest HP are:
Bulbasaur with 45 HP
Caterpie with 45 HP

The Pokémon with the lowest HP is Charmander with 39 HP.